@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@100;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mono-font:'Roboto Mono', monospace;
  --sans-font:'Roboto', sans-serif;
  --logo-font:'Comforter Brush', cursive;
  --background: #191A19;
  --dark-green: #1E5128;
  --light-green: #4E9F3D;
  --very-light-green: #b6bea0;
  --sub-heading: #797e6b;
  --text: #F3F1F5;
  --icon-background: rgb(32, 41, 41);
}

body {
  background-color: var(--background);
}

.logo {
  font-size: 2.5em;
  font-family: var(--logo-font);
  position: fixed;
  left: 20px;
  top: 25px;
  padding: 6px 18px;
  color: var(--light-green);
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  margin-left: 131px;
  margin-right: 38px;
  padding-left: 5em;
}

.header-left {
  position: fixed;
  left: 35px;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: calc(100vh - 200px);
  top: 100px;
  opacity: 1;
}

.icon-menu {
  display: block;
  margin: 0;
  padding: 0;
}

.icon-box {
  width: 50px;
  height: 50px;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  margin: 20px 0;
  border-radius: 50%;
  font-size: 1.8em;
  background: var(--icon-background);
  color: var(--dark-green);
  cursor: pointer;
}

.main-title p {
  font-family: var(--mono-font);
  margin-bottom: 10px;
  color: var(--light-green);
  font-size: 1.3rem;
}

.main-name h1 {
  font-family: var(--sans-font);
  font-size: 3.5rem;
  margin-top: 15px;
  color: var(--very-light-green);
}

.main-name h3 {
  font-family: var(--sans-font);
  font-size: 3.2rem;
  color: var(--sub-heading);
}

.main-text p {
  font-family: var(--sans-font);
  color: var(--sub-heading);
  max-width: 520px;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 1.25rem;
}

.main-btn {
  padding: 16px 25px 16px 25px;
  font-size: 1.3rem;
  text-decoration: none;
  font-family: var(--mono-font);
  border: 2px solid var(--light-green);
  color: #4E9F3D;
  border-radius: 4px;
  transition: 0.3s;
}

.main-btn:hover {
  background: var(--light-green);
  border: 2px solid var(--light-green);
  color: #191A19;
  transition: 0.3s;
}

.icon-menu h2 {
  background-color: #4E9F3D;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: var(--background);
  line-height: 50px;
  font-weight: 600;
  transition: all 0.3s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 25px 0 55px;
  height: 50px;
  font-size: 15px;
  display: block;
  margin-left: 2px;
}



.linkedin:hover .linkedin-text {
  opacity: 1;
}

.linkedin:hover  {
  background-color: var(--light-green);
  color: #191A19;
}

.linkedin:hover .fa-linkedin-in {
  color: #191A19;
}

.github:hover .github-text {
  opacity: 1;
}

.github:hover {
  background-color: var(--light-green);
  color: #191A19;
}

.github:hover .fa-github {
  color: #191A19;
}

.instagram:hover .insta-text {
  opacity: 1;
}

.instagram:hover {
  background-color: var(--light-green);
  color: #191A19;
}

.instagram:hover .fa-instagram {
  color: #191A19;
}

.linkedin a, .github a, .instagram a {
  color: var(--dark-green);
}

.header-right {
  position: fixed;
  right: 35px;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: calc(100vh - 200px);
  top: 100px;
  opacity: 1;
}

.nav-menu h2 {
  background-color: #4E9F3D;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: var(--background);
  line-height: 50px;
  font-weight: 600;
  transition: all 0.3s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 55px 0 25px;
  height: 50px;
  font-size: 15px;
  display: block;
  margin-right: 2px;
}

.home:hover .home-text {
  opacity: 1;
}

.home:hover  {
  background-color: var(--light-green);
  color: #191A19;
}

.home:hover .fa-home {
  color: #191A19;
}

.about:hover .about-text {
  opacity: 1;
}

.about:hover .fa-address-card{
  color: #191A19;
}

.about:hover {
  background-color: var(--light-green);
  color: #191A19;
}

.portfolio:hover .portfolio-text {
  opacity: 1;
}

.portfolio:hover  {
  background-color: var(--light-green);
  color: #191A19;
}

.portfolio:hover .fa-briefcase {
  color: #191A19;
}

.home i, .about i, .portfolio i {
  color: var(--dark-green);
}

.about-container {
  width: 100%;
}

.about-section {
  display: flex;
  justify-content: center;
  padding: 80px;
  font-size: 3.5rem;
  font-family: var(--sans-font);
}

.about-section span {
  border-bottom: 2px solid var(--light-green);
}

.about-section h1 {
  color: var(--sub-heading);
}

.about-section span {
  color: var(--very-light-green);
}

.content-container {
  max-width: 1140px;
  margin-left: 97.5px;
  margin-right: 97.5px;
}

.personal-section {
  display: flex;
  flex-direction: row;
}

.personal-title {
  max-width: 85%;
  margin-left: 25px;
}

.personal-title h1 {
  font-family: var(--sans-font);
  font-size: 2rem;
  color: var(--very-light-green);
}

.personal-title p {
  font-family: var(--sans-font);
  font-size: 1.1rem;
  color: var(--sub-heading);
  margin-top: 15px;
}

.bottom-p {
  margin-bottom: 30px;
}

.about-btn {
  margin-left: 25px;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--mono-font);
  border: 2px solid var(--light-green);
  color: #4E9F3D;
  border-radius: 4px;
  transition: 0.3s;
}

.about-btn:hover {
  background: var(--light-green);
  border: 2px solid var(--light-green);
  color: #191A19;
  transition: 0.3s;
}

.otis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otis-section img {
  max-width: 200px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 25px;
}

.otis-section p {
  max-width: 70%;
  font-size: 1.1rem;
  font-family: var(--sans-font);
  color: var(--sub-heading);
  margin-bottom: 15px;
}

.otis-section i { 
  font-size: 3rem;
  color: var(--dark-green);
  margin-bottom: 50px;
}

.otis-section a:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.otis-section img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.otis-section span {
  font-family: var(--mono-font);
  font-size: 0.75rem;
  color: var(--light-green);
  margin-bottom: 15px;
}
